.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.class

# اگر ریپو خصوصی است نگه‌داشتنش مشکلی ندارد، وگرنه از حالت private مطمئن شو
# android/app/google-services.json
